/*** UNFORMAT & UNSTYLE **/

/*** Margin Zero ***/
blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}
/*** Unformat Media **/
img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
}

/*** Unformat Typo ***/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*** Unstyle List ***/
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*** END Unstyle List ***/

/**** PADDING ****/
.section-40-20{
	padding: 40px 20px;
}
.section-60-20{
	padding: 60px 20px;
}
.section-80-20{
	padding: 80px 20px;
}
.section-120-20{
	padding: 120px 20px;
}
/**** END PADDING ****/


/**** RESPONSIVENESS ****/
@media (max-width: 600px){
	/******/
	.section-40-20{
	padding: 20px 20px;
}
.section-60-20{
	padding: 20px 20px;
}
.section-80-20{
	padding: 20px 20px;
}
.section-120-20{
	padding: 20px 20px;
}
/******/

}
/**** END RESPONSIVENESS ****/
